.call-to-action span, 
.list-info span, 
.member-info ul li a:hover, 
.member-info .lead, 
#contact a.contact-info:hover{	
	color:#333333;
}

a:focus, 
a:hover,
#navigation .navbar-right .dropdown-menu li a:hover,
.search i:hover,
#contact i{
	color:#428bca;
}

.section-title:after, 
.btn-primary, 
.carousel-indicators .active, 
.list-image:after, 
.list-image:before, 
#event-carousel .event-date, 
.become-volunteer,
#navigation .fixed-top  {	
	background-color:#333333;	
}

#navigation .navbar-right li a span:after 
{
	background-color:#428bca;	

}

.btn-primary, 
.carousel-indicators .active, 
#contact-form input:focus, 
#contact-form textarea:focus {
	border-color:#428bca;
}
.search-form {
	border:1px solid #333333;
}
.single-post .post-image:before {
	border-color:#333333 transparent transparent;
}

.btn-primary:hover, 
.btn-primary:focus, 
.carousel-caption .btn-primary:hover,
.btn-default:hover, .btn-default:focus, 
#video-section .nav-tabs>li>.active a, 
#video-section .nav-tabs>li >a:hover  {
	background-color: 	#357ebd;
	border-color: 	#dddddd;
}

#event-carousel .single-event:hover .event-date, 
#footer{
	background-color: 	#333333;
}

.btn-default {
	background-color: 	#333333;
}
.photo-info {
	background-color: 	rgba(51,51,51, .65);
}
#donations{
	background-color: #333333;
	background-image:url(../../images/donation-bg/donations-bg.jpg);	
}
.progress-striped .progress-bar, .progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(0, 174, 239, 0.99) 25%, transparent 25%, transparent 50%, rgba(0, 174, 239, 0.99) 50%, rgba(0, 174, 239, 0.99) 75%, transparent 75%, transparent);
}
.round-progress .progress-bar {
	background-color: #333333; 
}